.header {
  background: var(--gray-700);
  height: 28rem;

  display: flex;
  align-items: center;
  justify-content: center;


  font-weight: 900;
  font-size: 1.6rem;
}

.header div {
  display: flex;
  align-items: flex-start;

  gap: 1.2rem;
}

.header h1 {
  color: var(--blue);
}

.header h1 span {
  color: var(--purple-dark);
}
